* {
  margin: 0;
  padding: 0;
}
:root {
  --indigo: oklch(25.7% 0.09 281.288);
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #1e1a4d;
}

.fractal-container canvas {
  display: inline;
}
